<div class="healthy-food-section pt-5 pb-5">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="text-center">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/healthy-food-plate-img.png" class="healthy-food-section-img" />
            </div>
            <div class="flex flex-col justify-center">
                <h1 class="text-3xl font-bold mb-4">
                    Fresh, Healthy, Organic, Delicious Fruits
                </h1>
                <p class="text-lg mb-4">
                    Say no to harmful chemicals and go fully organic with our range of
                    fresh fruits and veggies. Pamper your body and your senses with
                    the true and unadulterated gifts from mother nature.
                </p>
                <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded  ">
                    Watch Video
                </button>
            </div>
        </div>
    </div>
    <div id="payment" class="delivery-and-payment-section pt-5 pb-5">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="order-1 md:order-2 text-center">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/delivery-payment-section-img.png" class="delivery-and-payment-section-img mx-auto w-2/3 md:w-1/2" />
                </div>
                <div class="order-2 md:order-1 flex flex-col justify-center">
                    <h1 class="text-3xl font-bold mb-4">
                        Delivery and Payment
                    </h1>
                    <p class="text-lg mb-4">
                        Enjoy hassle-free payment with the plenitude of payment options
                        available for you. Get live tracking and locate your food on a
                        live map. It's quite a sight to see your food arrive to your door.
                        Plus, you get a 5% discount on every order every time you pay
                        online.
                    </p>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Order Now
                    </button>
                    <div class="mt-3 flex space-x-2">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/visa-card-img.png" class="payment-card-img w-12 h-8" />
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/master-card-img.png" class="payment-card-img w-12 h-8" />
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/paypal-card-img.png" class="payment-card-img w-12 h-8" />
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/american-express-img.png" class="payment-card-img w-12 h-8" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


