<nav class="navbar bg-white shadow-md p-4">
  <div class="navbar-container flex items-center justify-between">
    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-img.png" alt="Logo" class="h-20" />
    <div class="navbar-menu flex items-center">
      
      <div class="navbar-links hidden lg:flex flex-col lg:flex-row">
        <a  class="py-2 px-4">Home</a>
        <a class="py-2 px-4">About</a>
        <a class="py-2 px-4">Services</a>
        <a  class="py-2 px-4">Contact</a>
      </div>
    </div>
  </div>
</nav>

