<div class="thanking-customers-section py-5 bg-orange-100">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col justify-center order-2 md:order-1">
          <h1 class="text-3xl font-bold mb-4">Thank you for being a valuable customer to us.</h1>
          <p class="text-lg mb-4">We have a surprise gift for you</p>
          <div class="md:hidden mb-4">
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/thanking-customers-section-img.png" class="w-10" />
          </div>
          <div>
            <button type="button" (click)="showSpecialOffer()" class="bg-yellow-500 text-white font-bold py-2 px-4 rounded">
              Redeem Gift
            </button>
          </div>
        </div>
        <div>
          <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/thanking-customers-section-img.png" class="w-30 h-60" />
        </div>
      </div>
    </div>
  </div>
  
  