<div id="exploremenu" class="pt-5 pb-5">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-4">Explore Menu</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            
            <div class="shadow-lg p-3 mb-3">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png" class="w-full" />
                <h2 class="text-xl font-bold mt-2">Non-Veg Starters</h2>
                <a class="text-yellow-500">View All</a>
            </div>
            <div class="shadow-lg p-3 mb-3">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-veg-starters-img.png" class="w-full" />
                <h2 class="text-xl font-bold mt-2">Veg Starters</h2>
                <a class="text-yellow-500">View All</a>      
                  </div>
            <div class="shadow-lg p-3 mb-3">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-soup-img.png" class="w-full" />
                <h2 class="text-xl font-bold mt-2">Soups</h2>
                <a class="text-yellow-500">View All</a>      
                  </div>
            <div class="shadow-lg p-3 mb-3">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-grilled-seafood-img.png" class="w-full" />
                <h2 class="text-xl font-bold mt-2"> Fish and sea food</h2>
                <a class="text-yellow-500">View All</a>      
                  </div>
            <div class="shadow-lg p-3 mb-3">    
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-hyderabadi-biryani-img.png" class="w-full" />
                <h2 class="text-xl font-bold mt-2"> Main Course</h2>
                <a class="text-yellow-500">View All</a>       
                 </div>
            <div class="shadow-lg p-3 mb-3">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-mushroom-noodles-img.png" class="w-full" />
                <h2 class="text-xl font-bold mt-2"> Noodles</h2>
                <a class="text-yellow-500">View All</a>            
            </div>
            <div class="shadow-lg p-3 mb-3">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-gluten-img.png" class="w-full" />
                <h2 class="text-xl font-bold mt-2"> Salads</h2>
                <a class="text-yellow-500">View All</a>         
               </div>
            <div class="shadow-lg p-3 mb-3">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-coffee-bourbon-img.png" class="w-full" />
                <h2 class="text-xl font-bold mt-2"> Desserts</h2>
                <a class="text-yellow-500">View All</a>            
            </div>
           
        </div>
    </div>
</div>
