<div class="banner-section-bg-container relative">
  <img src="https://tse2.mm.bing.net/th?id=OIP.Sx2nWXlHxa9ayFE_-F4CYQHaEo&pid=Api&P=0&h=180" alt="Banner Image" class="w-full h-64 object-cover" />
  <div class="banner-text-container absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-white">
    <h1 class="banner-heading text-6xl mb-4">Get Delicious food now!!</h1>
    <p class="banner-para text-3xl mb-8">Eat Smart And Healthy</p>
    <button class="button-style bg-white text-black py-2 px-4 mr-2">View Menu</button>
    <button class="button-style1 bg-transparent border-2 border-white text-white py-2 px-4">Order Now</button>
  </div>
</div>
 
  
