<app-navbar></app-navbar>
<app-banner></app-banner>
<app-whychooseus></app-whychooseus>
<app-exploremenu></app-exploremenu>
<app-healthyfood></app-healthyfood>
<app-thankingcustomers></app-thankingcustomers>
