<body class="bg-white">
  <div class="wcu-section pt-5 pb-5">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="md:col-span-3">
          <h1 class="text-3xl font-bold mb-4">Why Choose Us?</h1>
          <p class="text-lg">
            We use both original recipes and classic versions of famous food items.
          </p>
        </div>
        <div class="flex justify-center text-center">
          <div class="bg-gray-100 shadow-lg rounded-lg p-6">
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-serve.png" class="rounded-lg mb-4 mx-auto" />
            <h1 class="text-xl font-bold mb-2">Food Service</h1>
            <p class="text-lg">
              Experience fine dining at the comfort of your home. All our orders are carefully packed and arranged to give you nothing less than perfection.
            </p>
          </div>
        </div>
        <div class="flex justify-center text-center">
          <div class="bg-gray-100 shadow-lg rounded-lg p-6">
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/fruits-img.png" class="rounded-lg mb-4 mx-auto" />
            <h1 class="text-xl font-bold mb-2">Fresh Food</h1>
            <p class="text-lg">
              The Fresh Food group provides fresh-cut fruits and vegetables directly picked from our partner farms and farm houses so that you always get them tree to plate.
            </p>
          </div>
        </div>
        <div class="flex justify-center text-center">
          <div class="bg-gray-100 shadow-lg rounded-lg p-6">
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/offers-img.png" class="rounded-lg mb-4 mx-auto" />
            <h1 class="text-xl font-bold mb-2">Best Offers</h1>
            <p class="text-lg">
              Food Coupons & Offers up to 50% OFF and Exclusive Promo Codes on All Online Food Orders.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
